<!--Building A Word Counter In Django-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Tutorial</title>
</head>
<body>
    <h1>Input your text here:</h1>

    <!--GET(unsafe) vs. POST(safe)-->
    <form method="POST" action="counter">
        {% csrf_token %}
        <textarea name="text" rows=25 cols=50></textarea><br>
        <input type="submit" />
    </form>
</body>
</html>
